#############################################
# KEYCLOAK
#############################################

KEYCLOAK_SERVER_URL=http://localhost:8181
KEYCLOAK_REALM=Fitness-oauth2
KEYCLOAK_CLIENT_ID=fitness-client
KEYCLOAK_CLIENT_SECRET=

#############################################
# EUREKA
#############################################

EUREKA_SERVER_URL=http://localhost:8761/eureka/

#############################################
# GATEWAY
#############################################

GATEWAY_PORT=8080

#############################################
# USER SERVICE
#############################################

USER_DB_URL=
USER_DB_USERNAME=
USER_DB_PASSWORD=

#############################################
# ACTIVITY SERVICE
#############################################

ACTIVITY_MONGODB_URI=
ACTIVITY_MONGODB_DATABASE=fitnessdb

#############################################
# AI SERVICE
#############################################

AI_MONGODB_URI=
AI_MONGODB_DATABASE=fitnessdb

#############################################
# GEMINI
#############################################

GEMINI_API_KEY=

#############################################
# RABBITMQ
#############################################

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest